nodered.json
[{"id":"c472996d57b1bb6b","type":"tab","label":"Dashboard","disabled":false,"info":"","env":[]},{"id":"d823c2cc2f170945","type":"tab","label":"Zigbee Switch","disabled":false,"info":"","env":[]},{"id":"73d0688477fc8710","type":"tab","label":"ESP32","disabled":false,"info":"","env":[]},{"id":"68ae7fc6b2748f1b","type":"tab","label":"Web dashboard","disabled":false,"info":"","env":[]},{"id":"b66d7afa836b1268","type":"junction","z":"d823c2cc2f170945","x":480,"y":500,"wires":[["03a25835df87716b","082444b5e03af766","3f1c3d744a04840a","f7e35bfdc925cfea","b5e5ea550e7f580b","a5897b715d6fe087","c9033818ef8123d4"]]},{"id":"0f4d318db096c520","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#3484da","baseFont":"Georgia,Georgia,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#3484da","edited":true},"page-titlebar-backgroundColor":{"value":"#3484da","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#75abe6","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#3484da","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Georgia,Georgia,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"0955585bf84a7737","type":"ui_tab","name":"BetterLight","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c3d8bf7c9f700903","type":"ui_group","name":"Light Bulb Status","tab":"0955585bf84a7737","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8c5b99709c90620a","type":"ui_group","name":"Default","tab":"4c70ce602964b5fb","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"4c70ce602964b5fb","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b0e98b12ed0f60df","type":"mqtt-broker","name":"","broker":"172.20.0.4","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"fef59b11cda4ffb3","type":"global-config","name":"global-config","env":[{"name":"count","value":"100","type":"num"}]},{"id":"3d77dfcfaa271e75","type":"zigbee2mqtt-bridge-config","name":"Light_Control","broker":"b0e98b12ed0f60df","baseTopic":"betterlight","enabledLogging":false,"allowDeviceStatusRefresh":true},{"id":"d0ce37c534524adb","type":"zigbee2mqtt-device-config","name":"LB1","bridge":"3d77dfcfaa271e75","deviceName":"LightBulb1","brightnessSupport":true,"temperatureSupport":true,"colorSupport":true,"genericMqttDevice":false,"statusTopic":"","commandTopic":"","refreshTopic":""},{"id":"139f550d140257da","type":"zigbee2mqtt-bridge-config","name":"","broker":"b0e98b12ed0f60df","baseTopic":"betterlight","enabledLogging":false,"allowDeviceStatusRefresh":true},{"id":"3e5f129841efc099","type":"zigbee2mqtt-device-config","name":"LB","bridge":"139f550d140257da","deviceName":"LightBulb1","brightnessSupport":false,"temperatureSupport":false,"colorSupport":false,"genericMqttDevice":false,"statusTopic":"","commandTopic":"","refreshTopic":""},{"id":"ec227cadf6b969d3","type":"zigbee2mqtt-device-config","name":"LB2","bridge":"3d77dfcfaa271e75","deviceName":"LightBulb2","brightnessSupport":false,"temperatureSupport":false,"colorSupport":false,"genericMqttDevice":false,"statusTopic":"","commandTopic":"","refreshTopic":""},{"id":"ef8d0a37a1db6478","type":"zigbee2mqtt-device-config","name":"LB3","bridge":"139f550d140257da","deviceName":"LightBulb3","brightnessSupport":false,"temperatureSupport":false,"colorSupport":false,"genericMqttDevice":false,"statusTopic":"","commandTopic":"","refreshTopic":""},{"id":"b92dd0b661178710","type":"zigbee2mqtt-bridge-config","name":"","broker":"b0e98b12ed0f60df","baseTopic":"betterlight","enabledLogging":false,"allowDeviceStatusRefresh":true},{"id":"1181fd719d5fc1b2","type":"zigbee2mqtt-bridge-config","name":"","broker":"b0e98b12ed0f60df","baseTopic":"betterlight","enabledLogging":false,"allowDeviceStatusRefresh":true},{"id":"edf84a02b4c7a9c7","type":"zigbee2mqtt-bridge-config","name":"","broker":"b0e98b12ed0f60df","baseTopic":"betterlight","enabledLogging":false,"allowDeviceStatusRefresh":true},{"id":"36905eb9946b0138","type":"ui_link","name":"Link 4","icon":"open_in_browser","target":"newtab","order":4},{"id":"1e63300e083ced27","type":"ui_group","name":"Light 1","tab":"0955585bf84a7737","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"791d6597fdc7b6db","type":"ui_group","name":"Light 2","tab":"0955585bf84a7737","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a3efb556718542e1","type":"ui_group","name":"Light 3","tab":"0955585bf84a7737","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"72c0c53668d4ed53","type":"websocket-listener","path":"ws://192.168.1.103:443","wholemsg":"false"},{"id":"e8f7c1d6f2939d7a","type":"websocket-client","path":"ws://192.168.1.103:443","tls":"","wholemsg":"false","hb":"0","subprotocol":""},{"id":"17ead2974a395e2a","type":"websocket-listener","path":"/","wholemsg":"false"},{"id":"ed365b4befbf9842","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1110,"y":160,"wires":[]},{"id":"134263f2226df9e3","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1110,"y":100,"wires":[]},{"id":"1e87738e556a1b34","type":"delay","z":"c472996d57b1bb6b","name":"","pauseType":"random","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":100,"wires":[["134263f2226df9e3"]]},{"id":"441ba7220327e582","type":"delay","z":"c472996d57b1bb6b","name":"","pauseType":"random","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":160,"wires":[["ed365b4befbf9842"]]},{"id":"8220e49a13577c0e","type":"function","z":"c472996d57b1bb6b","name":"Toggle All","func":"var a = msg.payload;\nif (a == true){\n    msg.payload = { \"state\": \"TOGGLE\" };\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":100,"wires":[["1e87738e556a1b34","441ba7220327e582"]]},{"id":"8ab4eecdce28d41f","type":"function","z":"c472996d57b1bb6b","name":"Start relax","func":"var a = msg.payload;\nif (a == \"relax\"){\n    msg.payload = {\n        \"state\": \"ON\", \"brightness\": \"32\", \"color_temp\": \"470\"\n};\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":540,"wires":[["2b04abdaf458e69b","189c60463cf418c2"]]},{"id":"2b04abdaf458e69b","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1050,"y":540,"wires":[]},{"id":"369f73479ea90536","type":"function","z":"c472996d57b1bb6b","name":"Start work","func":"var a = msg.payload;\nif (a == \"work\"){\n    msg.payload = {\n        \"state\": \"ON\", \"brightness\": \"254\", \"color_temp\": \"30\"\n};\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":680,"wires":[["a7cdfb17747aefa5","966e78917ecd3733"]]},{"id":"a7cdfb17747aefa5","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1050,"y":680,"wires":[]},{"id":"545c473f17e480a5","type":"function","z":"c472996d57b1bb6b","name":"Start movie","func":"var a = msg.payload;\nlet T1 = {}\nlet T2 = {}\nlet T3 = {}\nif (a == \"movie\"){\n    T1.payload = {\n        \"state\": \"ON\", \"brightness\": \"120\", \"color\": { \"hex\": \"#00FFF\"}\n    }\n\n    T2.payload = {\n        \"state\": \"ON\", \"brightness\": \"150\", \"color\": { \"hex\":\"#77DD77\"}\n    }\n\n    T3.payload = {\n        \"state\": \"ON\", \"brightness\": \"150\", \"color\": { \"hex\": \"#F8C8DC\" }\n    }\n\n    return [T1,T2,T3];}\n\nreturn null;","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":840,"wires":[["1ce97fe4ab7037ec"],["82aa8e828bd0e3ec"]]},{"id":"82aa8e828bd0e3ec","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1050,"y":840,"wires":[]},{"id":"863f88756e498e2f","type":"function","z":"c472996d57b1bb6b","name":"Start contras","func":"var a = msg.payload;\nlet T1 = {}\nlet T2 = {}\nlet T3 = {}\nif (a == \"contras\"){\n    T1.payload = {\n         \"state\": \"ON\", \"brightness\": \"155\", \"color_temp\": \"50\"\n         }\n\n    T2.payload = {\n        \"state\": \"ON\", \"brightness\": \"155\", \"color_temp\": \"250\"\n    }\n\n    T3.payload = {\n        \"state\": \"ON\", \"brightness\": \"155\", \"color_temp\": \"450\"\n    }\n\n    return [T1,T2,T3];}\n\nreturn null;","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1020,"wires":[["b37013cce51c1ad1"],["68a7bd4d8c3c8da1"]]},{"id":"68a7bd4d8c3c8da1","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1030,"y":1020,"wires":[]},{"id":"f1f43aac310e8e73","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1030,"y":960,"wires":[]},{"id":"b37013cce51c1ad1","type":"delay","z":"c472996d57b1bb6b","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":840,"y":960,"wires":[["f1f43aac310e8e73"]]},{"id":"8f3b2a9d580eb985","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1050,"y":500,"wires":[]},{"id":"189c60463cf418c2","type":"delay","z":"c472996d57b1bb6b","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":840,"y":500,"wires":[["8f3b2a9d580eb985"]]},{"id":"85e39846512b10f2","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1050,"y":640,"wires":[]},{"id":"966e78917ecd3733","type":"delay","z":"c472996d57b1bb6b","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":840,"y":640,"wires":[["85e39846512b10f2"]]},{"id":"678128966abef00e","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1050,"y":780,"wires":[]},{"id":"1ce97fe4ab7037ec","type":"delay","z":"c472996d57b1bb6b","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":840,"y":780,"wires":[["678128966abef00e"]]},{"id":"fa7186bc0bd58d00","type":"ui_switch","z":"c472996d57b1bb6b","name":"","label":"Light1","tooltip":"","group":"1e63300e083ced27","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":750,"y":220,"wires":[["f85c288fc9b79ef4"]]},{"id":"f266678bd2ccda92","type":"ui_switch","z":"c472996d57b1bb6b","name":"","label":"Ligth2","tooltip":"","group":"791d6597fdc7b6db","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":750,"y":300,"wires":[["48d0de3e67a705bd"]]},{"id":"2dae8b2da94a4363","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1350,"y":220,"wires":[]},{"id":"68d5ac6bcaa492be","type":"delay","z":"c472996d57b1bb6b","name":"","pauseType":"random","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1120,"y":220,"wires":[["2dae8b2da94a4363"]]},{"id":"f85c288fc9b79ef4","type":"function","z":"c472996d57b1bb6b","name":"Toggle","func":"var a = msg.payload;\nif (a == true){\n    msg.payload = { \"state\": \"ON\" };\n    return msg;\n}\nif (a == false) {\n    msg.payload = { \"state\": \"OFF\" };\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":220,"wires":[["68d5ac6bcaa492be"]]},{"id":"c8c59e748d50a749","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1350,"y":300,"wires":[]},{"id":"48d0de3e67a705bd","type":"function","z":"c472996d57b1bb6b","name":"Toggle","func":"var a = msg.payload;\nif (a == true){\n    msg.payload = { \"state\": \"ON\" };\n    return msg;\n}\nif (a == false) {\n    msg.payload = { \"state\": \"OFF\" };\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":300,"wires":[["c8c59e748d50a749"]]},{"id":"ab8da74ae0f8f1bb","type":"ui_button","z":"c472996d57b1bb6b","name":"","group":"c3d8bf7c9f700903","order":3,"width":0,"height":0,"passthru":false,"label":"Toggle All","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":480,"y":100,"wires":[["8220e49a13577c0e"]]},{"id":"792e8ddc6ab4f03a","type":"ui_dropdown","z":"c472996d57b1bb6b","name":"","label":"Mode Selector","tooltip":"","place":"Select option","group":"c3d8bf7c9f700903","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Movie ","value":"movie","type":"str"},{"label":"Working","value":"work","type":"str"},{"label":"Relax & Cozy","value":"relax","type":"str"},{"label":"Neutural","value":"contras","type":"str"},{"label":"Red light","value":"red","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":340,"y":840,"wires":[["8ab4eecdce28d41f","369f73479ea90536","545c473f17e480a5","863f88756e498e2f","19b253c8cdee67f0"]]},{"id":"c94b4816eab2b55b","type":"get-lamp-state","z":"c472996d57b1bb6b","name":"","device":"ec227cadf6b969d3","x":300,"y":300,"wires":[["934c68a456921343"]]},{"id":"934c68a456921343","type":"function","z":"c472996d57b1bb6b","name":"set state","func":"var a = msg.payload.action;\nif (a == \"on\"){\n    msg.payload =  true ;\n    return msg;\n}\nif (a == \"off\") {\n    msg.payload =  false ;\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":300,"wires":[["f266678bd2ccda92"]]},{"id":"5dc80c5925bd618f","type":"get-lamp-state","z":"c472996d57b1bb6b","name":"","device":"d0ce37c534524adb","x":300,"y":220,"wires":[["0a096bc82680e5fa"]]},{"id":"0a096bc82680e5fa","type":"function","z":"c472996d57b1bb6b","name":"set state","func":"var a = msg.payload.action;\nif (a == \"on\"){\n    msg.payload =  true ;\n    return msg;\n}\nif (a == \"off\") {\n    msg.payload =  false ;\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":220,"wires":[["fa7186bc0bd58d00"]]},{"id":"19b253c8cdee67f0","type":"function","z":"c472996d57b1bb6b","name":"Start Red","func":"var a = msg.payload;\nif (a == \"red\"){\n    msg.payload = {\n        \"state\": \"ON\", \"brightness\": \"25\", \"color\":{\"rgb\":\"255,0,0\"}\n};\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1180,"wires":[["d32254a72fa7a411","855774ac7cc07d1c"]]},{"id":"d32254a72fa7a411","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1050,"y":1180,"wires":[]},{"id":"dd9107ea70cdcc7b","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1050,"y":1140,"wires":[]},{"id":"855774ac7cc07d1c","type":"delay","z":"c472996d57b1bb6b","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":840,"y":1140,"wires":[["dd9107ea70cdcc7b"]]},{"id":"152f917369826b76","type":"ui_colour_picker","z":"c472996d57b1bb6b","name":"","label":"Light Color 2","group":"791d6597fdc7b6db","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"false","order":2,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":330,"y":1360,"wires":[["ee34480895824deb"]]},{"id":"ee34480895824deb","type":"function","z":"c472996d57b1bb6b","name":"color change","func":"var r = msg.payload.r;\nvar g = msg.payload.g;\nvar b = msg.payload.b;\nmsg.payload = {\n        \"state\": \"ON\", \"color\": { \"r\": r, \"g\": g, \"b\": b }\n};\n return msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1360,"wires":[["6baee868c9cd9a6f"]]},{"id":"6baee868c9cd9a6f","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":830,"y":1360,"wires":[]},{"id":"140c82e9b41cac93","type":"ui_colour_picker","z":"c472996d57b1bb6b","name":"","label":"Light Color 1","group":"1e63300e083ced27","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"false","order":2,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":330,"y":1300,"wires":[["cc79d974196552d5"]]},{"id":"cc79d974196552d5","type":"function","z":"c472996d57b1bb6b","name":"color change","func":"var r = msg.payload.r;\nvar g = msg.payload.g;\nvar b = msg.payload.b;\nmsg.payload = {\n        \"state\": \"ON\", \"color\": { \"r\": r, \"g\": g, \"b\": b }\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1300,"wires":[["391971c48ceccd73"]]},{"id":"391971c48ceccd73","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":830,"y":1300,"wires":[]},{"id":"25933ad298735e9a","type":"ui_slider","z":"c472996d57b1bb6b","name":"","label":"Brightness Light 1","tooltip":"","group":"1e63300e083ced27","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"255","step":1,"className":"","x":350,"y":1540,"wires":[["1f794d89842ef4b7"]]},{"id":"1f794d89842ef4b7","type":"function","z":"c472996d57b1bb6b","name":"Brigthness Control","func":"var a = msg.payload;\nmsg.payload = {\n        \"brightness\": a \n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1540,"wires":[["f9b98a11560ceb29"]]},{"id":"f9b98a11560ceb29","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":870,"y":1540,"wires":[]},{"id":"ca4b4d5e8c752821","type":"ui_slider","z":"c472996d57b1bb6b","name":"","label":"Brightness Light 2","tooltip":"","group":"791d6597fdc7b6db","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"255","step":1,"className":"","x":350,"y":1600,"wires":[["a462dbc87684a20c"]]},{"id":"a462dbc87684a20c","type":"function","z":"c472996d57b1bb6b","name":"Brigthness Control","func":"var a = msg.payload;\nmsg.payload = {\n        \"brightness\": a \n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1600,"wires":[["f2b8a74f85434026"]]},{"id":"f2b8a74f85434026","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":870,"y":1600,"wires":[]},{"id":"cf39d67148ce596a","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":910,"y":1760,"wires":[]},{"id":"4b0ba617cdf1d1e8","type":"mqtt out","z":"c472996d57b1bb6b","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":910,"y":1680,"wires":[]},{"id":"0df7750eb20f1461","type":"delay","z":"c472996d57b1bb6b","name":"","pauseType":"random","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":1760,"wires":[["cf39d67148ce596a"]]},{"id":"ba5b7020727ee4a3","type":"delay","z":"c472996d57b1bb6b","name":"","pauseType":"random","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":1680,"wires":[["4b0ba617cdf1d1e8"]]},{"id":"4fa7dc0b142da125","type":"function","z":"c472996d57b1bb6b","name":"ON ALL","func":"var a = msg.payload;\nif (a == true){\n    msg.payload = { \"state\": \"ON\" };\n    return msg;\n}\nif (a == false) {\n    msg.payload = { \"state\": \"OFF\" };\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1700,"wires":[["0df7750eb20f1461","ba5b7020727ee4a3"]]},{"id":"1de1099ef94f8fb5","type":"ui_button","z":"c472996d57b1bb6b","name":"","group":"c3d8bf7c9f700903","order":1,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":310,"y":1700,"wires":[["4fa7dc0b142da125"]]},{"id":"9a9bbc2d2c817b50","type":"ui_button","z":"c472996d57b1bb6b","name":"","group":"c3d8bf7c9f700903","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":310,"y":1760,"wires":[["4fa7dc0b142da125"]]},{"id":"577d800951b075e4","type":"inject","z":"c472996d57b1bb6b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":280,"wires":[["5dc80c5925bd618f","c94b4816eab2b55b"]]},{"id":"ff163b4d95b7db28","type":"mqtt out","z":"d823c2cc2f170945","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1030,"y":440,"wires":[]},{"id":"967ff1aef0ab5a0d","type":"mqtt in","z":"d823c2cc2f170945","name":"","topic":"betterlight/Scene Switch(4 Gang)","qos":"2","datatype":"auto-detect","broker":"b0e98b12ed0f60df","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":500,"wires":[["0ecd4e7a2343c72a"]]},{"id":"38d09903ed3209c1","type":"mqtt out","z":"d823c2cc2f170945","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":850,"y":360,"wires":[]},{"id":"04093b3dc384223c","type":"delay","z":"d823c2cc2f170945","name":"","pauseType":"random","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":800,"y":440,"wires":[["ff163b4d95b7db28"]]},{"id":"03a25835df87716b","type":"function","z":"d823c2cc2f170945","name":"Toggle All","func":"var a = msg.payload.action;\nif (a == \"1_single\"){\n    msg.payload = { \"state\": \"ON\" };\n    return msg;\n}\nif (a == \"2_single\"){\n    msg.payload = { \"state\": \"OFF\" };\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":440,"wires":[["04093b3dc384223c","38d09903ed3209c1"]]},{"id":"0ecd4e7a2343c72a","type":"json","z":"d823c2cc2f170945","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":500,"wires":[["b66d7afa836b1268"]]},{"id":"3f1c3d744a04840a","type":"function","z":"d823c2cc2f170945","name":"Toggle Light_1","func":"var a = msg.payload.action;\nif (a == \"3_single\"){\n    msg.payload = { \"state\": \"TOGGLE\" };\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":560,"wires":[["562c801976596f40"]]},{"id":"082444b5e03af766","type":"function","z":"d823c2cc2f170945","name":"ToggleLight_2","func":"var a = msg.payload.action;\nif (a == \"4_single\"){\n    msg.payload = { \"state\": \"TOGGLE\" };\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":640,"wires":[["09db55d25f21915d"]]},{"id":"f7e35bfdc925cfea","type":"function","z":"d823c2cc2f170945","name":"Start relax","func":"var a = msg.payload.action;\nif (a == \"2_double\"){\n    msg.payload = {\n        \"state\": \"ON\", \"brightness\": \"16\", \"color_temp\": \"490\"\n};\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1080,"wires":[["aaeee91dbc02c7c7","c863e5868c7614db"]]},{"id":"aaeee91dbc02c7c7","type":"mqtt out","z":"d823c2cc2f170945","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":970,"y":1080,"wires":[]},{"id":"c9033818ef8123d4","type":"function","z":"d823c2cc2f170945","name":"Start work","func":"var a = msg.payload.action;\nif (a == \"3_double\"){\n    msg.payload = {\n        \"state\": \"ON\", \"brightness\": \"254\", \"color_temp\": \"30\"\n};\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1260,"wires":[["166b5b9b4679c85d","693fd6ccc9595e65"]]},{"id":"166b5b9b4679c85d","type":"mqtt out","z":"d823c2cc2f170945","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":950,"y":1260,"wires":[]},{"id":"a5897b715d6fe087","type":"function","z":"d823c2cc2f170945","name":"Start movie","func":"var a = msg.payload.action;\nlet T1 = {}\nlet T2 = {}\nlet T3 = {}\nif (a == \"4_double\"){\n    T1.payload = {\n        \"state\": \"ON\", \"brightness\": \"120\", \"color\": { \"hex\": \"#00FFF\"}\n    }\n\n    T2.payload = {\n        \"state\": \"ON\", \"brightness\": \"150\", \"color\": { \"hex\":\"#77DD77\"}\n    }\n\n    return [T1,T2];}\n\nreturn null;","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1500,"wires":[["ff7d7ec3ce9082fc"],["c1c1c533efe5734c"]]},{"id":"c1c1c533efe5734c","type":"mqtt out","z":"d823c2cc2f170945","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":790,"y":1540,"wires":[]},{"id":"b5e5ea550e7f580b","type":"function","z":"d823c2cc2f170945","name":"Start contras","func":"var a = msg.payload.action;\nlet T1 = {}\nlet T2 = {}\nlet T3 = {}\nif (a == \"1_double\"){\n    T1.payload = {\n         \"state\": \"ON\", \"brightness\": \"155\", \"color_temp\": \"50\"}\n\n    T2.payload = {\n        \"state\": \"ON\", \"brightness\": \"155\", \"color_temp\": \"250\"\n    }\n\n    T3.payload = {\n        \"state\": \"ON\", \"brightness\": \"155\", \"color_temp\": \"450\"\n    }\n\n    return [T1,T2,T3];}\n\nreturn null;","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":880,"wires":[["42179a9b983991e6"],["7c4c214b7c350f4e"]]},{"id":"7c4c214b7c350f4e","type":"mqtt out","z":"d823c2cc2f170945","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":810,"y":920,"wires":[]},{"id":"86b18b6064de011e","type":"mqtt out","z":"d823c2cc2f170945","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":950,"y":820,"wires":[]},{"id":"42179a9b983991e6","type":"delay","z":"d823c2cc2f170945","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":760,"y":820,"wires":[["86b18b6064de011e"]]},{"id":"e68de716d53b9313","type":"mqtt out","z":"d823c2cc2f170945","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":970,"y":1040,"wires":[]},{"id":"c863e5868c7614db","type":"delay","z":"d823c2cc2f170945","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":760,"y":1040,"wires":[["e68de716d53b9313"]]},{"id":"15e36927a6faa4bb","type":"mqtt out","z":"d823c2cc2f170945","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":950,"y":1220,"wires":[]},{"id":"693fd6ccc9595e65","type":"delay","z":"d823c2cc2f170945","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":1220,"wires":[["15e36927a6faa4bb"]]},{"id":"16ceacc47edaf6d2","type":"mqtt out","z":"d823c2cc2f170945","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":950,"y":1440,"wires":[]},{"id":"ff7d7ec3ce9082fc","type":"delay","z":"d823c2cc2f170945","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":760,"y":1440,"wires":[["16ceacc47edaf6d2"]]},{"id":"d9d9fe3001e67c61","type":"websocket in","z":"d823c2cc2f170945","name":"","server":"72c0c53668d4ed53","client":"","x":160,"y":560,"wires":[["0ecd4e7a2343c72a"]]},{"id":"562c801976596f40","type":"mqtt out","z":"d823c2cc2f170945","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":850,"y":560,"wires":[]},{"id":"09db55d25f21915d","type":"mqtt out","z":"d823c2cc2f170945","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":850,"y":640,"wires":[]},{"id":"0fb10c47babb5e45","type":"mqtt in","z":"73d0688477fc8710","name":"","topic":"betterlight/Button 1","qos":"2","datatype":"auto-detect","broker":"b0e98b12ed0f60df","nl":false,"rap":true,"rh":0,"inputs":0,"x":450,"y":280,"wires":[["ac60e26c4653d890"]]},{"id":"5709bec457b1ceb3","type":"mqtt out","z":"73d0688477fc8710","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1110,"y":260,"wires":[]},{"id":"be025bf8d012ecc6","type":"mqtt out","z":"73d0688477fc8710","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1110,"y":300,"wires":[]},{"id":"02f4d45014ecad5c","type":"delay","z":"73d0688477fc8710","name":"","pauseType":"random","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":880,"y":260,"wires":[["5709bec457b1ceb3"]]},{"id":"2052f34fcb91e284","type":"delay","z":"73d0688477fc8710","name":"","pauseType":"random","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":880,"y":300,"wires":[["be025bf8d012ecc6"]]},{"id":"ac60e26c4653d890","type":"function","z":"73d0688477fc8710","name":"Toggle All","func":"var a = msg.payload.mode;\nif (a == 1){\n    msg.payload = { \"state\": \"ON\" };\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["02f4d45014ecad5c","2052f34fcb91e284"]]},{"id":"e378b44fe3f76edb","type":"mqtt in","z":"73d0688477fc8710","name":"","topic":"betterlight/Slider 2","qos":"2","datatype":"auto-detect","broker":"b0e98b12ed0f60df","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":640,"wires":[["a1c16bcc7f111e2d"]]},{"id":"d7f6ef43a14cf485","type":"function","z":"73d0688477fc8710","name":"Brigthness Control","func":"var a = msg.payload;\nmsg.payload = {\n        \"brightness\": a \n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":640,"wires":[["abc4d7a446776114","8f1fcd7d1ade8e09"]]},{"id":"dbfcb4b7cbe06fcb","type":"range","z":"73d0688477fc8710","minin":"0","maxin":"4095","minout":"0","maxout":"254","action":"scale","round":true,"property":"payload","name":"","x":920,"y":640,"wires":[["d7f6ef43a14cf485"]]},{"id":"a1c16bcc7f111e2d","type":"function","z":"73d0688477fc8710","name":"Brigthness Control","func":"var a = msg.payload.current;\nmsg.payload = a \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":640,"wires":[["dbfcb4b7cbe06fcb"]]},{"id":"80abf78dc5936c30","type":"mqtt out","z":"73d0688477fc8710","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1570,"y":640,"wires":[]},{"id":"8f1fcd7d1ade8e09","type":"mqtt out","z":"73d0688477fc8710","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1410,"y":580,"wires":[]},{"id":"abc4d7a446776114","type":"delay","z":"73d0688477fc8710","name":"","pauseType":"random","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1340,"y":640,"wires":[["80abf78dc5936c30"]]},{"id":"2b188ede914880b7","type":"function","z":"73d0688477fc8710","name":"ToggleLight_1","func":"var a = msg.payload.mode;\nif (a == \"1\"){\n    msg.payload = { \"state\": \"TOGGLE\" };\n    return msg;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":460,"wires":[["61ae044fcdee38f4"]]},{"id":"58dc0da2e8e602ad","type":"mqtt in","z":"73d0688477fc8710","name":"","topic":"betterlight/Button 3","qos":"2","datatype":"auto-detect","broker":"b0e98b12ed0f60df","nl":false,"rap":true,"rh":0,"inputs":0,"x":450,"y":460,"wires":[["2b188ede914880b7"]]},{"id":"a8db842a70c33dec","type":"mqtt in","z":"73d0688477fc8710","name":"","topic":"betterlight/Button 2","qos":"2","datatype":"auto-detect","broker":"b0e98b12ed0f60df","nl":false,"rap":true,"rh":0,"inputs":0,"x":450,"y":380,"wires":[["a845a37afbf8359a"]]},{"id":"bc70d791136b421a","type":"function","z":"73d0688477fc8710","name":"ToggleLight_2","func":"var a = msg.payload.mode;\nif (a == \"1\"){\n    msg.payload = { \"state\": \"TOGGLE\" };\n    return msg;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":540,"wires":[["d9e5d9dc858e34fd"]]},{"id":"751735f2e34cae85","type":"mqtt in","z":"73d0688477fc8710","name":"","topic":"betterlight/Button 4","qos":"2","datatype":"auto-detect","broker":"b0e98b12ed0f60df","nl":false,"rap":true,"rh":0,"inputs":0,"x":450,"y":540,"wires":[["bc70d791136b421a"]]},{"id":"ca8ba43156928c71","type":"mqtt in","z":"73d0688477fc8710","name":"","topic":"betterlight/Slider 3","qos":"2","datatype":"auto-detect","broker":"b0e98b12ed0f60df","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":840,"wires":[["013471499bfb7172"]]},{"id":"44e4b5a6d18bbfeb","type":"function","z":"73d0688477fc8710","name":"Color Control","func":"var a = msg.payload;\nmsg.payload = {\n        \"color\": a \n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":840,"wires":[["ab2d754f3cd985f9","c8f9f8a1f6ed5ba6"]]},{"id":"23fa7701e52b878c","type":"mqtt out","z":"73d0688477fc8710","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1570,"y":840,"wires":[]},{"id":"c8f9f8a1f6ed5ba6","type":"mqtt out","z":"73d0688477fc8710","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1410,"y":780,"wires":[]},{"id":"ab2d754f3cd985f9","type":"delay","z":"73d0688477fc8710","name":"","pauseType":"random","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":1340,"y":840,"wires":[["23fa7701e52b878c"]]},{"id":"da6e576beaea7a0c","type":"range","z":"73d0688477fc8710","minin":"0","maxin":"4095","minout":"0","maxout":"359","action":"scale","round":true,"property":"payload","name":"","x":600,"y":840,"wires":[["f781e6a8b2b71312"]]},{"id":"013471499bfb7172","type":"function","z":"73d0688477fc8710","name":"color Control","func":"var a = msg.payload.current;\nmsg.payload = a \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":840,"wires":[["da6e576beaea7a0c"]]},{"id":"f781e6a8b2b71312","type":"function","z":"73d0688477fc8710","name":"HSV to RGB","func":"// Function to convert HSV to RGB\nfunction hsvToRgb(h, s, v) {\n    var r, g, b, i, f, p, q, t;\n\n    h /= 360; // Normalize hue to the range [0, 1]\n    s /= 100; // Normalize saturation to the range [0, 1]\n    v /= 100; // Normalize value to the range [0, 1]\n\n    i = Math.floor(h * 6);\n    f = h * 6 - i;\n    p = v * (1 - s);\n    q = v * (1 - f * s);\n    t = v * (1 - (1 - f) * s);\n\n    switch (i % 6) {\n        case 0:\n            r = v;\n            g = t;\n            b = p;\n            break;\n        case 1:\n            r = q;\n            g = v;\n            b = p;\n            break;\n        case 2:\n            r = p;\n            g = v;\n            b = t;\n            break;\n        case 3:\n            r = p;\n            g = q;\n            b = v;\n            break;\n        case 4:\n            r = t;\n            g = p;\n            b = v;\n            break;\n        case 5:\n            r = v;\n            g = p;\n            b = q;\n            break;\n    }\n\n    // Convert RGB values to the range [0, 255]\n    r = Math.round(r * 255);\n    g = Math.round(g * 255);\n    b = Math.round(b * 255);\n\n    return {\"r\":r, \"g\":g, \"b\":b};\n}\n\nmsg.payload = hsvToRgb(parseInt(msg.payload, 10), 100, 100);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":840,"wires":[["44e4b5a6d18bbfeb"]]},{"id":"bf5bcfc551b0275d","type":"mqtt out","z":"73d0688477fc8710","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1110,"y":360,"wires":[]},{"id":"7816854818177756","type":"mqtt out","z":"73d0688477fc8710","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":1110,"y":400,"wires":[]},{"id":"dd03359425d03466","type":"delay","z":"73d0688477fc8710","name":"","pauseType":"random","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":880,"y":360,"wires":[["bf5bcfc551b0275d"]]},{"id":"fb323067b355e4c8","type":"delay","z":"73d0688477fc8710","name":"","pauseType":"random","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"25","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":880,"y":400,"wires":[["7816854818177756"]]},{"id":"a845a37afbf8359a","type":"function","z":"73d0688477fc8710","name":"Toggle All","func":"var a = msg.payload.mode;\nif (a == 1){\n    msg.payload = { \"state\": \"OFF\" };\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":380,"wires":[["dd03359425d03466","fb323067b355e4c8"]]},{"id":"61ae044fcdee38f4","type":"mqtt out","z":"73d0688477fc8710","name":"","topic":"betterlight/LightBulb1/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":990,"y":460,"wires":[]},{"id":"d9e5d9dc858e34fd","type":"mqtt out","z":"73d0688477fc8710","name":"","topic":"betterlight/LightBulb2/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b0e98b12ed0f60df","x":990,"y":540,"wires":[]},{"id":"459667e2c7f20cdd","type":"websocket out","z":"68ae7fc6b2748f1b","name":"","server":"","client":"e8f7c1d6f2939d7a","x":980,"y":320,"wires":[]},{"id":"087f21228dec2360","type":"join","z":"68ae7fc6b2748f1b","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":320,"wires":[["459667e2c7f20cdd"]]},{"id":"476be951f55143cb","type":"get-lamp-state","z":"68ae7fc6b2748f1b","name":"","device":"d0ce37c534524adb","x":240,"y":240,"wires":[["ea11fbe7d4e578fa"]]},{"id":"f4938b9f728c438a","type":"get-lamp-state","z":"68ae7fc6b2748f1b","name":"","device":"ec227cadf6b969d3","x":220,"y":400,"wires":[["3ef2ccf0a5827dd1"]]},{"id":"7ff3f6ec01c1bd08","type":"inject","z":"68ae7fc6b2748f1b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":300,"wires":[["476be951f55143cb","f4938b9f728c438a"]]},{"id":"ea11fbe7d4e578fa","type":"function","z":"68ae7fc6b2748f1b","name":"function 1","func":"msg.payload.name = \"light-bulb-1\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":240,"wires":[["087f21228dec2360"]]},{"id":"3ef2ccf0a5827dd1","type":"function","z":"68ae7fc6b2748f1b","name":"function 2","func":"msg.payload.name = \"light-bulb-2\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":429.1111145019531,"y":404.1111145019531,"wires":[["087f21228dec2360"]]}]